<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-5">Experience</h2>
        {% for job in site.data.experience %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">{{job.title}}</h3>
                <div class="subheading mb-3">{{job.company}}</div>
                <p>{{job.description | markdownify}}</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">{{job.start | date: "%B %Y"}} - {{job.end | date: "%B %Y"}}</span>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
